// ------------- //
// -- General -- //
// ------------- //
main {
	counter-reset: sec-counter;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.benefits {
	display: none;
}

@media (max-width: $width-mobile) {
	.benefits {
		display: block;
		margin: 0 20px;
		margin-bottom: 50px;
	}

	.benefits__list {
		padding: 0;
		margin: 0;
		list-style: none;

		display: flex;
		flex-direction: column;
	}

	.benefits__item:last-child .benefits__item-wrapper {
		border-bottom: none;
	}

	.benefits__item {
		padding: 0;
		margin: 0;
		cursor: pointer;
	}

	.benefits__item-wrapper {
		display: flex;
		align-items: center;
		gap: 10px;

		position: relative;
		padding-right: 20px;

		border-bottom: 1px solid var(--color-benefits-border);

		& svg {
			width: 32px;
			height: auto;
			&.--color-stroke path {
				stroke: var(--color-benefits-icon);
			}
			&.--color-fill path {
				fill: var(--color-benefits-icon);
			}
		}
		& img {
			width: 100px;
			height: auto;
		}

		& h3 {
			font-size: rem(16);
			line-height: em(28);
			font-weight: 400;
		}

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-60%) translateX(-50%) rotate(45deg);
			transition: all 0.3s ease-in;

			width: 10px;
			height: 10px;

			border-bottom: 2px solid var(--color-font);
			border-right: 2px solid var(--color-font);
		}
	}

	.--show .benefits__item-wrapper::after {
		transform: unset;
		transform: translateY(-40%) translateX(-50%) rotate(225deg);
	}

	.benefits__item-text-wrapper {
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s ease-in;
	}
	.--show .benefits__item-text-wrapper {
		max-height: 200px;
	}

	.benefits__item-text {
		margin: 0;
		padding: 20px;
		background-color: var(--color-benefits-background);

		font-size: rem(16);
		line-height: em(28);
		font-weight: 400;
		color: var(--color-benefits-text);
	}
}
// ------------------- //
// -- Intro section -- //
// ------------------- //
.intro {
	margin-top: 0;
}

.intro__container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	@media (max-width: $width-mobile) {
		flex-direction: column;
	}
}
.intro__container > div {
	flex: 1 1 470px;

	@media (max-width: $width-mobile) {
		width: 100%;
		flex-basis: auto;
	}
}
.intro__wrapper--image {
	@media (max-width: $width-mobile) {
		height: auto;
	}
}
.intro__wrapper--text {
	padding: 0 0 clamp(50px, 5%, 90px) 110px;
	@media (max-width: 1240px) {
		padding: 0 0 50px 50px;
	}
	@media (max-width: $width-mobile) {
		padding: 20px 0 20px;
	}
}
.intro__header {
	text-align: left;
	margin-bottom: 20px;
}
.intro__text--small {
	color: var(--color-font-secondary);
}
.intro__flex-container {
	max-width: 1020px;
	margin-left: auto;

	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 20px;

	@media (max-width: $width-mobile) {
		justify-content: center;
		gap: 15px;
	}
}

.intro__flex-container--custom-klokocka {
	max-width: 1175px;
	overflow: hidden;

	.intro__flex-item--image {
		background-color: transparent;
		width: unset;
		aspect-ratio: unset;
		max-width: unset;
		img {
			height: 100%;
			width: auto;
			max-width: unset;
		}
	}
	@media (max-width: $width-mobile) {
		.intro__flex-item--image {
			width: calc(100% / 2 - 7.5px);
			max-width: 240px;
			aspect-ratio: 1 / 1;
			overflow: visible;

			img {
				position: relative;
				left: 100%;
				transform: translateX(-40%);
				max-width: unset;
				max-height: 100%;
				width: auto;
			}
		}
	}
}

.intro__flex-item {
	width: calc(25% - 15px);
	max-width: 240px;
	aspect-ratio: 1 / 1;
	padding: 30px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& svg,
	& img {
		min-height: 56px;
	}
	& h3 {
		font-size: clamp(rem(22), 2.5vw, rem(40));
		line-height: 1;
		margin: 0;
	}
	& p {
		padding: 0;
		margin: 0;
		text-align: center;
		font-weight: 700;
		font-size: rem(16);
		line-height: em(28, 16);
	}

	@media (max-width: 1000px) {
		width: calc(100% / 3 - 40px / 3);
	}

	@media (max-width: $width-mobile) {
		padding: 15px;
		width: calc(100% / 2 - 7.5px);

		justify-content: center;
		gap: 10px;

		& p {
			font-weight: 700;
			font-size: rem(12);
			line-height: em(24, 12);
		}
	}
}

.intro__flex-item--custom-philips {
	align-items: flex-start;
	gap: 0;
	& h3 {
		font-size: clamp(rem(22), 2.1vw, rem(40));
		line-height: em(60, 40);
		font-weight: 700;
		color: var(--color-white);
		margin-bottom: 5px;
	}
	& h3.--small {
		font-size: clamp(rem(22), 1.25vw, rem(24));
		line-height: em(36, 24);
	}
	& p {
		text-align: left;
	}
	& strong {
		font-size: clamp(rem(22), 2.1vw, rem(40));
	}
}

.intro__flex-item--100 {
	@media (max-width: $width-mobile) {
		width: 100%;
		max-width: 500px;
		aspect-ratio: unset;
		min-height: 160px;
	}
}

.intro__flex-item--long {
	width: calc(50% - 10px);
	max-width: 500px;
	aspect-ratio: calc(500 / 240) / 1;

	@media (max-width: 1000px) {
		width: calc(100% / 3 * 2 - 40px / 3 * 2 + 20px);
	}
	@media (max-width: $width-mobile) {
		width: 100%;
		max-width: 500px;
		aspect-ratio: unset;
	}
}

.intro__flex-item--image {
	padding: 0;
	background-color: transparent !important;
	border: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left;
	}
}
.task-banner {
	max-width: calc(1440px + 4rem);
	padding: 0 2rem;
	margin: 120px auto;

	@media (max-width: $width-mobile) {
		margin: 50px 0 120px 0;
		padding: 0 20px;
	}
}
// ----------------- //
// -- Task Banner -- //
// ----------------- //
.task-banner__container {
	@include container(1440px);
	display: flex;
	padding: 80px 100px;

	@media (max-width: 1240px) {
		padding: 50px 30px;
	}
	@media (max-width: 1140px) {
		flex-direction: column;
		align-items: center;
		gap: 80px;
	}

	@media (max-width: $width-mobile) {
		padding: 20px;
		gap: 20px;
	}
}

.task-banner__container > div {
	flex: 1;
}

.task-banner__image-wrapper {
	margin-left: 13%;
	text-align: right;
	@media (max-width: 1140px) {
		margin: 0;
	}
}

.task-banner__header {
	position: relative;
	margin-top: clamp(60px, 6.25vw, 117px);
	z-index: 10;
	@media (max-width: $width-mobile) {
		margin-bottom: 20px;
	}
}

.task-banner__image {
	display: inline-block;

	width: 100%;
	max-width: 550px;
}

.task-banner__hide-part {
	@media (max-width: $width-mobile) {
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s ease;
	}
}

.--show .task-banner__hide-part {
	@media (max-width: $width-mobile) {
		max-height: 999px;
	}
}
// ----------------- //
// -- Task Banner -- //
// ----------------- //
.creation-line {
	@media (max-width: $width-mobile) {
		margin: 0;
		margin-top: 120px;
		margin-bottom: 120px;
	}
}

.creation-line__header-wrapper {
	margin: 120px 2rem;
	@media (max-width: $width-mobile) {
		margin: 120px 20px;
		margin-bottom: 0;
	}
}
.creation-line__container {
	position: relative;
	margin-top: 200px;
	margin-bottom: 200px;
	@media (max-width: 1100px) {
		margin-top: 0;
		margin-bottom: 50px;
	}
}

.creation-line__wrapper {
	position: relative;
	max-width: 100%;
	width: 100%;

	display: flex;

	&::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 125px;
		background-color: var(--color-font);
		bottom: 0;
		left: 0;
		z-index: 10;
	}
	&::after {
		content: 'Start projektu';
		white-space: nowrap;
		font-family: inherit;
		font-weight: 700;
		font-size: rem(20);
		line-height: em(30, 20);
		position: absolute;
		bottom: 125px;
		left: 10px;
		transform: translate(0, 100%);
	}

	@media (max-width: 1100px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&::before {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 120px;
			height: 1px;
		}
		&::after {
			width: fit-content;
			top: 0;
			left: 50%;
			transform: unset;
			transform: translate(-50%, -30px);
			height: auto;
		}
	}
	@media (max-width: $width-mobile) {
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

.creation-line__wrapper > div {
	position: relative;

	&::before {
		content: url('/icon/pin-short.svg');
		position: absolute;
		top: 20px;
		left: 20px;
	}
	&::after {
		white-space: nowrap;
		font-family: inherit;
		font-weight: 400;
		font-size: rem(16);
		line-height: em(28, 16);
		position: absolute;
		top: 75px;
		left: 20px;
	}
	@media (max-width: 1100px) {
		&::before {
			top: calc(50% - 30px);
			left: 40px;
			transform: rotate(-90deg);
		}
		&::after {
			top: 50%;
			left: 85px;
			transform: translateY(-50%);
		}
	}
	@media (max-width: 550px) {
		&::after {
			white-space: normal;
			width: 100px;
		}
	}
}

.creation-line__wrapper {
	& > .creation-line__analytics {
		height: 50px;
		background: #d063d2;
		&::after {
			content: 'Analýza';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
		}
	}

	& > .creation-line__graphics {
		height: 50px;
		background: #59b5dc;
		&::after {
			content: 'Wire Frame / Grafika';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
		}
	}

	& > .creation-line__web {
		width: calc(var(--width-web) * 1%);
		height: 50px;
		background: #83dc59;
		&::after {
			content: 'Front End / Back End';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-web) / 100 * 720px);
		}
	}

	& > .creation-line__back-end {
		width: calc(var(--width-back-end) * 1%);
		height: 50px;
		background: #59dc6e;
		&::before {
			content: url('/icon/pin-long.svg');
		}
		&::after {
			content: ' Back End';
			top: 115px;
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-back-end) / 100 * 720px);
			&::before {
				content: url('/icon/pin-short.svg');
				top: calc(50% - 30px);
				left: 40px;
			}
			&::after {
				top: 50%;
				left: 85px;
				transform: translateY(-50%);
			}
		}
	}

	& > .creation-line__data {
		width: calc(var(--width-data) * 1%);
		height: 50px;
		background: #dcbf59;
		&::after {
			content: 'Naplnění daty';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-data) / 100 * 720px);
		}
	}

	& > .creation-line__testing {
		width: calc(var(--width-testing) * 1%);
		height: 50px;
		background: #dc9859;
		&::before {
			content: url('/icon/pin-long.svg');
		}
		&::after {
			content: 'Testování';
			top: 115px;
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-testing) / 100 * 720px);
			&::before {
				content: url('/icon/pin-short.svg');
				top: calc(50% - 30px);
				left: 40px;
			}
			&::after {
				top: 50%;
				left: 85px;
				transform: translateY(-50%);
			}
		}
	}

	& > .creation-line__client {
		width: calc(var(--width-client) * 1%);
		height: 50px;
		background: #dc7859;
		&::after {
			content: 'Předaní klientovi';
			left: 0;
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-client) / 100 * 720px);
			&::after {
				left: 85px;
			}
		}
	}

	& > .creation-line__final {
		width: calc(var(--width-final) * 1%);
		background: #eeeeee;

		&::before {
			content: '';
			top: unset;
			left: unset;
			bottom: 0;
			right: 0;

			width: 1px;
			height: 125px;
			background-color: var(--color-font);

			z-index: 10;
		}
		&::after {
			content: 'Termín spuštění';
			top: unset;
			left: unset;
			bottom: 125px;
			right: 10px;

			white-space: nowrap;
			font-family: inherit;
			font-weight: 700;
			font-size: rem(20);
			line-height: em(30, 20);

			transform: translate(0, 100%);
		}

		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-final) / 100 * 720px);
			&::before {
				top: unset;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 120px;
				height: 1px;
			}
			&::after {
				width: fit-content !important;
				height: fit-content;
				white-space: nowrap !important;

				top: unset;
				bottom: 0;
				left: 50%;

				transform: unset;
				transform: translate(-50%, 100%);
			}
		}
	}
}

.time-line__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;

	display: flex;

	@media (max-width: 1100px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.time-line__wrapper > div {
	position: relative;
	height: 50px;
	&::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 90px;
		background-color: #b4b5b4;
		bottom: 0;
		right: 0;
		z-index: -10;
		@media (max-width: 1100px) {
			width: 90px;
			height: 1px;
		}
	}
	&::after {
		position: absolute;
		bottom: 60px;
		right: 10px;
		white-space: nowrap;
		font-family: inherit;
		font-weight: 700;
		font-size: rem(20);
		line-height: em(30, 20);
		color: #b4b5b4;
		@media (max-width: 1100px) {
			right: 100px;
			bottom: -13px;
		}
	}
}

.time-line__wrapper {
	& > .time-line__month-1 {
		width: calc(var(--width-month-1) * 1%);
		&::after {
			content: '1. měsíc';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-month-1) / 100 * 720px);
		}
	}
	& > .time-line__month-2 {
		width: calc(var(--width-month-2) * 1%);
		&::after {
			content: '2. měsíc';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-month-2) / 100 * 720px);
		}
	}
	& > .time-line__month-3 {
		width: calc(var(--width-month-3) * 1%);
		&::after {
			content: '3. měsíc';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-month-3) / 100 * 720px);
		}
	}
	& > .time-line__month-4 {
		width: calc(var(--width-month-4) * 1%);
		&::after {
			content: '4. měsíc';
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-month-4) / 100 * 720px);
		}
	}

	& > .time-line__month-rest {
		width: calc(var(--width-month-rest) * 1%);
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		@media (max-width: 1100px) {
			width: 50px !important;
			height: calc(var(--width-month-rest) / 100 * 720px);
		}
	}
}

.creation-line__content {
	margin-left: calc(50% - 960px + 50px);
	margin-right: calc(50% - 720px);

	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 5%;

	@media (max-width: 1920px) {
		margin-left: 50px;
	}
	@media (max-width: 1540px) {
		margin-left: calc(50% - 720px);
	}
	@media (max-width: 1504px) {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	@media (max-width: 920px) {
		flex-direction: column;
	}
	@media (max-width: $width-mobile) {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.creation-line__image-wrapper {
	position: relative;
	flex: 1.5;
	max-width: 898px;

	&::before {
		content: '';
		width: 50px;
		height: 50px;
		position: absolute;
		top: 22.5%;
		left: 15%;
	}
	&::after {
		content: '';
		width: 25px;
		height: 25px;
		position: absolute;
		top: calc(22.5% + 50px);
		left: calc(15% - 25px);
	}

	@media (max-width: 920px) {
		margin-bottom: 50px;
	}
	@media (max-width: $width-mobile) {
		margin-bottom: 20px;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}

.creation-line__image-container {
	&::before {
		content: '';
		width: 24px;
		height: 60px;
		position: absolute;
		top: 60%;
		right: 0;
		transform: translateX(100%);
	}
	&::after {
		content: '';
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 5%;
		right: 10.5%;
	}
	@media (max-width: $width-mobile) {
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}

.creation-line__caption {
	flex: 1;
	max-width: 610px;

	padding: 50px;
	@media (max-width: 920px) {
		margin-top: 0;
		max-width: unset;
	}
	@media (max-width: $width-mobile) {
		padding: 20px;
	}
}

.creation-line__caption p {
	@media (max-width: $width-mobile) {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		display: -webkit-box;
		line-clamp: 4;
		box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
}

.--show .creation-line__caption p {
	overflow: unset;
	text-overflow: unset;
	display: unset;
	display: unset;
	line-clamp: unset;
	box-orient: unset;
	-moz-box-orient: unset;
	-webkit-line-clamp: unset;
	-webkit-box-orient: unset;
}
// -- Design Process -- //
.design-process__header-wrapper {
	margin: 110px 2rem;
	@media (max-width: $width-mobile) {
		margin: 120px 20px;
		margin-bottom: 0;
	}
}
.design-process__wrapper {
	max-width: calc(1440px + 4rem);
	margin: 0 auto 80px auto;
	padding: 0 2rem;
	display: flex;
	gap: 50px;

	& > p {
		flex: 1;
	}

	@media (max-width: $width-mobile) {
		margin: 0 auto 50px auto;
		padding: 0 20px;
		flex-direction: column;
		gap: 20px;
	}
}
// -- Banner First -- //
.banner-first {
	max-width: calc(1440px + 4rem);
	padding-inline: 2rem;
	margin: 120px auto;

	display: flex;
	align-items: center;

	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		margin: 50px auto;
		padding: 0;
	}
}

.banner-first__image-wrap {
	flex: 1.8;
	@media screen and ($mobile-responsive) {
		display: none;
	}
}

.banner-first__text-wrap {
	position: relative;
	z-index: 10;

	flex: 1;

	padding: 50px;
	margin-right: 0;
	margin-left: -130px;

	@media (max-width: $width-mobile) {
		padding: 20px;
		margin: 0;
		margin-inline: 0;
		margin-top: 0;
		margin-bottom: -40px;
	}
}

.banner-first__list {
	display: block;
	column-count: 2;
	column-gap: 30px;
	@media (max-width: 1100px) {
		column-count: 1;
	}
}

.banner-first__list li {
	display: block;
	margin-bottom: 15px;
	break-inside: avoid;
	position: relative;
	&::before {
		content: '';

		position: absolute;
		top: 9px;
		left: -20px;

		width: 10px;
		height: 10px;
		line-height: 0;
	}
}

.banner-first--reverse {
	flex-direction: row-reverse;

	@media (max-width: $width-mobile) {
		flex-direction: column;
	}
}

.banner-first--reverse .banner-first__text-wrap {
	margin-right: -130px;
	margin-left: 0;
	@media (max-width: $width-mobile) {
		margin: 0;
		margin-inline: 0 !important;
		margin-top: -40px;
		margin-bottom: 0;
	}
}
.banner-firt--top {
	align-items: flex-start;
	.banner-first__text-wrap {
		margin-top: 80px;
		margin-right: 0;
		@media screen and ($mobile-responsive) {
			margin-right: 20px;
		}
	}
	.banner-first__image-wrap {
		flex: 1.3;
		margin-left: -130px;
	}
}
// -- Banner Secodn -- //
.banner-second {
	margin-top: 120px;
	margin-bottom: 60px;
	overflow: hidden;
	position: relative;
	&.no-margin {
		margin-bottom: 0;
	}
	@media (max-width: 920px) {
		margin: 120px 0;
	}
	@media (max-width: $width-mobile) {
		margin: 50px 0;
	}
}

.banner-second__container {
	display: grid;
	grid-template-columns: minmax(1px, 3fr) minmax(1px, 4fr);
	grid-template-rows: auto 1fr;
	gap: 40px 110px;
	align-items: start;
	@media (max-width: 1240px) {
		gap: 40px;
	}
	@media (max-width: 991px) {
		.banner-second__wrapper--text {
			grid-column: 1/3;
			grid-row-start: 1;
		}
		.banner-second__wrapper--image {
			grid-row-start: 2;
			grid-column: 2/3;
		}
		.banner-second__wrapper--image-wide {
			grid-row-start: 2;
			grid-column: 1/2;
			align-self: end;
			img {
				bottom: 30px;
				left: 0;
			}
		}
	}
}

.banner-second__wrapper--image {
	position: relative;
	z-index: -1;
	grid-row: 1/3;
	grid-column: 2/3;
}
.banner-second__wrapper--image-wide {
	min-height: 41vw;
	img {
		position: absolute;
		width: 100%;
		max-width: 70vw;
		left: -140px;
	}
}

.banner-second__wrapper--text {
	position: relative;
	flex: 1;
	max-width: 610px;
	padding: 50px;
	background-color: var(--color-banner-background);
	border: 1px solid var(--color-banner-border);

	&::before {
		position: absolute;
		right: unset;
		left: 100%;
		bottom: 0;
		transform: unset;
		content: '';
		width: 45px;
		height: 45px;
		background-color: var(--color-square-icon);
	}
	@media (max-width: 1240px) {
		padding: 20px;
	}
	@media (max-width: 920px) {
		margin-top: 0;
		max-width: unset;
		&::before {
			display: none;
		}
	}
	@media (max-width: $width-mobile) {
		padding: 20px;
		margin-inline: -20px;
	}
}

.banner-second--reverse {
	grid-template-columns: minmax(1px, 4fr) minmax(1px, 3fr);
	.banner-second__wrapper--text {
		&::before {
			left: unset;
			right: 0;
			transform: unset;
			transform: translate(100%, 100%);
		}
	}
	.banner-second__wrapper--image {
		grid-column: 1 / 2;
	}
	.banner-second__wrapper--image-wide {
		img {
			position: absolute;
			width: 100%;
			max-width: 70vw;
			left: unset;
			right: -60px;
		}
	}
}

.banner-second__image-nb {
	position: absolute;
	left: unset;
	right: 0;
	bottom: 0;
	max-width: unset;
	width: 165%;
	max-width: 1460px;
	transform: unset;
	transform: translate(74%, -19%);

	@media (max-width: 920px) {
		transform: unset;
		transform: translate(60%, -15%);
	}
}

.banner-second--reverse .banner-second__image-nb {
	right: unset;
	left: 0;
	transform: unset;
	transform: translate(-74%, -19%);
	@media (max-width: 920px) {
		transform: unset;
		transform: translate(-60%, -15%);
	}
}
.banner-third {
	margin-bottom: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		gap: 20px;
		margin-bottom: 60px;
	}
}

.banner-third--reverse {
	flex-direction: row-reverse;

	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.banner-third__wrapper-text {
		margin-right: 0;
		margin-left: calc(110 / 1440 * 100%);
		@media (max-width: $width-mobile) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.banner-third--reverse-flex-start {
	flex-direction: row-reverse;
	align-items: flex-start;

	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.banner-third__wrapper-text {
		margin-right: 0;
		margin-left: calc(110 / 1440 * 100%);
		@media (max-width: $width-mobile) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.banner-third__wrapper {
	width: 50%;
	@media (max-width: $width-mobile) {
		width: 100%;
	}
}

.banner-third__wrapper-text {
	width: calc(50% - 110 / 1440 * 100%);
	max-width: 610px;
	margin-left: 0;
	margin-right: calc(110 / 1440 * 100%);
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -25px;
		left: -25px;
		width: 25px;
		height: 25px;
	}

	@media (max-width: $width-mobile) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		max-width: unset;
		&::before {
			display: none;
		}
	}
}

.banner-third__text-container {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: -50px;
		right: -50px;
		width: 50px;
		height: 50px;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -75px;
		right: 0;
		width: 25px;
		height: 25px;
	}
	@media (max-width: $width-mobile) {
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}

.banner-third__wrapper-image {
	max-width: 700px;
	display: flex;
	position: relative;
}

.banner-third__wrapper-image .banner-third__image-1 {
	width: calc(350 / 700 * 100%);
	margin-top: calc(210 / 700 * 100%);
	padding-top: 10px;
	padding-right: 10px;
	background-color: var(--color-background);

	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: calc(210 / 350 * 100% - 10px);

		width: 60px;
		height: 60px;

		transform: translate(-100%, -100%);
	}
	&::after {
		content: '';
		position: absolute;

		bottom: calc(70 / 350 * 100% - 10px);
		right: 0;

		width: 30px;
		height: 30px;
		transform: translate(100%, 100%);
	}
}

.banner-third__wrapper-image .banner-third__image-2 {
	width: calc(490 / 700 * 100%);
	margin-left: calc(140 / 700 * -1 * 100%);
	margin-bottom: calc(70 / 700 * 100%);
	z-index: -1;
}
.banner-fourth {
	margin-block: 120px;
	display: flex;
	align-items: center;
	gap: calc(0.07 * 100%);
	@media (max-width: 1024px) {
		flex-direction: column-reverse;
	}
	@media (max-width: $width-mobile) {
		gap: 20px;
		margin-block: 60px;
	}
}
.banner-fourth--reverse {
	flex-direction: row-reverse;
	@media (max-width: 1024px) {
		flex-direction: column-reverse;
	}
	.banner-fourth__wrapper--image {
		width: calc(960 / 1440 * 100%);
		margin-left: calc(720px - 50 * 1vw);
		margin-right: 0;
		@media (max-width: 1440px) {
			margin-left: -2rem;
		}
		@media (max-width: 1024px) {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
		}
		@media (max-width: $width-mobile) {
			margin-bottom: 0;
			margin-left: -20px;
			margin-right: -20px;
			width: unset;
		}
	}
}
.banner-fourth__wrapper--text {
	width: calc(610 / 1400 * 100%);
	display: flex;
	flex-direction: column;
	gap: 3.125vw;
	@media (max-width: 1024px) {
		width: 100%;
		margin: 0;
	}
	@media (max-width: $width-mobile) {
		gap: 20px;
	}
}

.banner-fourth__wrapper--image {
	width: calc(960 / 1440 * 100%);
	margin-right: calc(720px - 50 * 1vw);
	@media (max-width: 1440px) {
		margin-right: -2rem;
	}
	@media (max-width: 1024px) {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}
	@media (max-width: $width-mobile) {
		margin-bottom: 0;
		margin-left: -20px;
		margin-right: -20px;
		width: unset;
	}
}

.banner-fifth {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap-reverse;
	gap: 110px;
	@media (max-width: 1240px) {
		gap: 50px;
	}
	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		gap: 20px;
	}
	&.align-center {
		align-items: center;
	}
}

.banner-fifth--reverse {
	flex-direction: row-reverse;

	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.banner-fifth__wrapper-text {
		@media (max-width: $width-mobile) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.banner-fifth--reverse-flex-start {
	flex-direction: row-reverse;
	align-items: flex-start;

	@media (max-width: $width-mobile) {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.banner-fifth__wrapper-text {
		margin-right: 0;
		margin-left: calc(110 / 1440 * 100%);
		@media (max-width: $width-mobile) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.banner-fifth__wrapper {
	flex: 1 1 460px;
	@media (max-width: $width-mobile) {
		width: 100%;
		flex: unset;
	}
}

.banner-fifth__wrapper-text {
	margin-left: 0;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		z-index: 1;
	}

	@media (max-width: $width-mobile) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		max-width: unset;
		&::before {
			display: none;
		}
	}
}

.banner-fifth__text-container {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		right: -50px;
		width: 50px;
		height: 50px;
		background-color: var(--color-square-icon);
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -25px;
		right: 0;
		width: 25px;
		height: 25px;
		background-color: var(--color-square-icon);
	}
	@media (max-width: $width-mobile) {
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}

.banner-fifth__wrapper-image {
	max-width: 700px;
	display: grid;
	grid-template-columns: repeat(2, minmax(1px, 1fr));
	grid-template-rows: repeat(2, minmax(1px, 1fr));
	position: relative;
}

.banner-fifth__wrapper-image .banner-fifth__image-1 {
	padding-top: 10px;
	padding-right: 10px;
	background-color: var(--color-background);
	position: relative;
	grid-column-start: 1;
	grid-row-start: 2;
	margin-top: -30px;
	margin-right: -70px;
	&::before {
		content: '';
		position: absolute;
		top: 8px;
		right: 100px;

		width: 50px;
		height: 50px;

		transform: translate(-100%, -100%);
		background-color: var(--color-square-icon);
	}
	&::after {
		content: '';
		position: absolute;

		top: 20px;
		right: 10px;

		width: 50px;
		height: 50px;
		transform: translate(100%, 100%);
		background-color: var(--color-square-icon);
	}
}

.banner-fifth__wrapper-image .banner-fifth__image-2 {
	z-index: -1;
	grid-column-start: 2;
	grid-row-start: 1;
	margin-bottom: -30px;
	margin-left: -70px;
}
.banner-fifth__wrapper-image.no-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	.banner-fifth__image {
		img {
			max-width: 100%;
			width: auto;
		}
	}
}
.section__banner {
	padding: 50px;
	@media (max-width: $width-mobile) {
		padding: 20px;
	}
}

// -- Banner NB -- //
.banner-nb {
	margin: 120px 0;
	margin-top: 0;

	padding: 120px 80px 105px calc(50% - 720px);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	@media (max-width: 1504px) {
		padding: 120px 2rem 105px 2rem;
	}

	@media (max-width: $width-mobile) {
		margin: 50px 0;
		margin-top: 0;
		padding: 50px 20px;
	}
}

.banner-nb--custom-petcenter {
	position: relative;
}
.banner-nb--custom-petcenter::after {
	position: absolute;
	bottom: -7px;
	left: calc(50vw - 720px);
	width: 89.5%;
	max-width: 542px;
	aspect-ratio: 1/1;
	content: '';
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top 0 left 0;
}
@media (max-width: 1504px) {
	.banner-nb--custom-petcenter::after {
		left: -2rem;
	}
}
@media (max-width: $width-mobile) {
	.banner-nb--custom-petcenter::after {
		display: none;
	}
}

.banner-nb.--tile {
	background-repeat: repeat;
	background-size: contain;
}

.banner-nb--custom-rituals {
	.banner-nb__container {
		position: relative;
		&::after {
			position: absolute;
			bottom: -105px;
			left: -40px;
			width: 612px;
			height: 362px;
			content: '';
			background-image: url('/pripadove-studie/rituals/image-banner-nb-2.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top 0 left 0;
			z-index: 11;
			@media (max-width: 1650px) {
				z-index: unset;
			}
			@media (max-width: 1100px) {
				display: none;
			}
		}
	}
}
.banner__button {
	padding: 20px;
	margin-top: 20px;

	gap: 20px;
	transition: all 0.3s ease;
	font-family: inherit;
	cursor: pointer;
}
.banner-nb {
	@media screen and ($mobile-responsive) {
		background: transparent !important;
	}
}
.banner-nb__container {
	display: flex;
	align-items: flex-start;

	@media (max-width: 1100px) {
		flex-direction: column-reverse;
		gap: 50px;
	}
	@media (max-width: $width-mobile) {
		gap: 0;
	}
}
.banner-nb__wrapper.--show .banner-nb__banner-wrap {
	max-height: 5000px !important;
}
.banner-nb__banner-wrap {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}
.banner-nb__wrapper--text {
	position: relative;
	z-index: 10;
	margin-top: 100px;

	flex: 1;
	padding: 50px;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-100%, -100%);
		width: 100px;
		height: 100px;

		@media (max-width: $width-mobile) {
			display: none;
		}
	}

	@media (max-width: $width-mobile) {
		padding: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.banner-nb__squares {
	position: absolute;
	bottom: 50%;
	left: 0;
	transform: translate(calc(-100% + 25px), 100%);
	& rect {
		fill: var(--color-banner-nb-square);
	}

	@media (max-width: $width-mobile) {
		display: none;
	}
}

.banner-nb__wrapper--image {
	flex: 2.3;
	margin-left: -175px;
	@media (max-width: $width-mobile) {
		margin-left: -100px;
		margin-bottom: -50px;
	}
}

.banner-nb__text {
	font-size: rem(20);
	line-height: em(32, 20);
	margin-bottom: 20px;

	@media (max-width: $width-mobile) {
		font-size: rem(18);
		line-height: em(28, 18);
	}
}

.banner-nb__small-text {
	font-size: rem(16);
	line-height: em(28, 16);

	transition: all 0.3s ease;

	@media (max-width: $width-mobile) {
		max-height: 0;
		overflow: hidden;
	}
}

.--show .banner-nb__small-text {
	@media (max-width: $width-mobile) {
		max-height: 999px;
		margin-bottom: 20px;
	}
}
.section__header-wrapper {
	display: flex;
	justify-content: center;
}

.section__header {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: clamp(rem(28), 2.5vw, rem(48));
	line-height: em(72, 48);
	font-weight: 700;

	@media (max-width: $width-mobile) {
		font-size: rem(28);
		line-height: em(42, 28);
	}
}

.section__banner-header {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;

	font-size: clamp(rem(22), 1.65vw, rem(32));
	line-height: em(42, 32);
	font-weight: 700;
	font-style: normal;
	@media (max-width: $width-mobile) {
		font-size: rem(22);
		line-height: em(33, 22);
	}
}

.section__header--counter {
	position: relative;
	&::before {
		counter-increment: sec-counter;
		content: '0' counter(sec-counter) '';

		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-40%) translateX(50%);

		font-size: clamp(120px, 12.5vw, 235px);
		line-height: em(352, 235);
		font-weight: 700;

		z-index: -1;

		@media (max-width: 920px) {
			transform: translateY(-55%) translateX(0%);
		}
	}
}

.section__header--counter-2 {
	position: relative;
	padding-top: clamp(70px, 9.5vw, 130px);
	&::before {
		counter-increment: sec-counter;
		content: '0' counter(sec-counter) '';

		position: absolute;
		right: 0;
		top: 0;
		// transform: translateY(-57%);

		font-size: clamp(120px, 12.5vw, 235px);
		line-height: 1em;
		font-weight: 700;

		z-index: -1;
	}
}

.section__text {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	font-size: rem(20);
	line-height: em(36, 20);
	font-weight: 400;
	@media (max-width: $width-mobile) {
		font-size: rem(16);
		line-height: em(28, 18);
	}
}

.section__banner-text {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	font-size: rem(20);
	line-height: em(36, 20);
	font-weight: 400;

	a {
		font-weight: 700;
	}
	a:hover {
		text-decoration: underline;
	}
	@media screen and ($mobile-responsive) {
		font-size: rem(16);
	}
}

.section__list {
	padding: 0;
	padding-left: 30px;
	margin: 0;
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	gap: 15px;

	list-style-type: none;
}

.section__list li {
	position: relative;

	font-size: rem(20);
	line-height: em(28, 16);
	font-weight: 400;
	@media screen and ($mobile-responsive) {
		font-size: rem(16);
	}

	&::before {
		content: '';

		position: absolute;
		top: 12px;
		left: -20px;

		width: 10px;
		height: 10px;
		line-height: 0;
	}
}

.section__button {
	display: none;

	padding: 20px;
	margin-top: 20px;

	gap: 20px;
	align-items: center;
	transition: all 0.3s ease;

	font-family: inherit;
	cursor: pointer;
	&::after {
		content: '';
		width: 11px;
		height: 11px;
		transform: rotate(45deg) translate(-50%, 25%);
		transition: all 0.3s ease;
	}
	@media (max-width: $width-mobile) {
		display: flex;
	}
}

.--show .section__button {
	&::after {
		transform: rotate(225deg) translate(0, -25%);
	}
}

.section__banner-wrap {
	@media (max-width: $width-mobile) {
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s ease-in;
	}
}

.--show .section__banner-wrap {
	@media (max-width: $width-mobile) {
		max-height: 1500px;
	}
}
.miranda-review {
	@media screen and ($mobile-responsive) {
		display: none;
	}
}
.miranda-review__container {
	display: flex;
	gap: 20px;
	padding: 80px 100px;

	@media (max-width: 1140px) {
		flex-direction: column;
		align-items: center;
		gap: 80px;
	}

	@media (max-width: $width-mobile) {
		padding: 20px;
		gap: 20px;
	}
}

.miranda-review__container > div {
	flex: 1;
}

.miranda-review__image-wrapper {
	margin-left: 13%;
	text-align: right;
	@media (max-width: $width-mobile) {
		margin-left: unset;
	}
}

.miranda-review__header {
	text-align: left;
	color: var(--color-miranda-review-text);
	&::before {
		color: var(--color-miranda-review-counter);
		-webkit-text-stroke-width: var(--thickness-counter-border);
		-webkit-text-stroke-color: var(--color-miranda-review-counter-border);
	}
	@media (max-width: $width-mobile) {
		&::before {
			-webkit-text-stroke-width: var(--thickness-counter-border-mobile);
		}
	}
}

.miranda-review__name {
	display: block;
	margin-top: 20px;

	font-size: rem(32);
	line-height: em(42, 32);
	font-weight: 700;
	text-align: right;
	color: var(--color-miranda-review-name);

	@media (max-width: $width-mobile) {
		font-size: rem(22);
		line-height: em(34, 22);
	}
}

.miranda-review__position {
	display: block;

	font-size: rem(16);
	line-height: em(28, 16);
	font-weight: 700;
	text-align: right;

	@media (max-width: $width-mobile) {
		font-size: rem(18);
		line-height: em(28, 18);
	}
}

.miranda-review__image {
	display: inline-block;

	width: 100%;
	max-width: 550px;
}
// --------- //
// -- SLA -- //
// --------- //
.sla {
	position: relative;

	margin: 120px auto;

	@media (max-width: $width-mobile) {
		margin: 50px auto;
	}
}

.sla__background {
	position: absolute;
	width: 100%;
	height: 100%;

	opacity: 0.2;
	object-fit: cover;
	object-position: center;
}

.sla__container {
	position: relative;
	max-width: calc(1100px + 4rem);
	padding: 100px 2rem;
	margin: 0 auto;
	z-index: 10;

	@media (max-width: $width-mobile) {
		padding: 60px 20px;
	}
}

.sla__wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px 100px;

	@media (max-width: $width-mobile) {
		padding: 20px;
	}
}

.sla__header {
	margin-bottom: 20px;
}

.sla__text {
	padding: 0;
	margin: 0;

	font-size: rem(20);
	line-height: em(36);
	font-weight: 400;
	@media screen and ($mobile-responsive) {
		font-size: rem(16);
		line-height: em(28);
	}
}
// ------------------- //
// -- Result review -- //
// ------------------- //
.result-review {
	max-width: calc(1440px + 4rem);
	margin: 120px auto;
	padding: 0 2rem;

	@media (max-width: $width-mobile) {
		margin: 50px auto;
		padding: 0 20px;
	}
}
.result-review__container {
	display: flex;
	align-items: center;
	@media (max-width: $width-mobile) {
		flex-direction: column;
		gap: 40px;
	}
}

.result-review--reverse .result-review__container {
	flex-direction: row-reverse;
	@media (max-width: $width-mobile) {
		flex-direction: column;
		gap: 40px;
	}
}

.result-review__container > div {
	flex: 1;
}

.result-review__wrapper--image {
	display: flex;
	gap: 10px;
}

.result-review__wrapper--image .result-review__image-container:first-child {
	position: relative;
	margin-top: 25%;
	&::before {
		content: '';
		width: 60px;
		height: 60px;

		position: absolute;
		right: 0;
		top: -10px;
		transform: translateY(-100%);
	}
}
.result-review__wrapper--image .result-review__image-container:last-child {
	position: relative;
	margin-bottom: 25%;
	&::before {
		content: '';
		width: 60px;
		height: 60px;

		position: absolute;
		left: 0;
		bottom: -10px;
		transform: translateY(100%);
	}
}

.result-review__subwrapper {
	margin-right: 0;
	margin-left: 15.28%;
	@media (max-width: $width-mobile) {
		margin-left: 0;
		margin-right: 0;
	}
}

.result-review--reverse .result-review__subwrapper {
	margin-right: 15.28%;
	margin-left: 0;
	@media (max-width: $width-mobile) {
		margin-left: 0;
		margin-right: 0;
	}
}

.result-review__header {
	text-align: left;
}
// --------------------- //
// -- Extra solutions -- //
// --------------------- //
.extra-solutions {
	@media (max-width: $width-mobile) {
		margin-top: 120px;
		.buttons-center {
			display: none;
		}
	}
}

.extra-solutions__header-wrapper {
	margin-bottom: 60px;
	@media (max-width: $width-mobile) {
		margin: 120px 0;
		margin-bottom: 0;
	}
}

.extra-solutions__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	list-style: none;

	@media (max-width: $width-mobile) {
		margin-bottom: 20px;
	}
}

.extra-solutions__list li {
	display: inline-block;
	padding: em(10, 16);

	font-size: rem(16);
	line-height: em(28, 16);
	font-weight: 400;

	&::before {
		content: '#';
	}

	@media (max-width: $width-mobile) {
		display: none;
	}
}

.--show .extra-solutions__list li {
	@media (max-width: $width-mobile) {
		display: inline-block;
	}
}

.extra-solutions__list li.extra-solutions__item--visible {
	display: inline-block;
}

.extra-solutions__list li.extra-solutions__item--button {
	padding: 0;

	display: none;

	@media (max-width: $width-mobile) {
		display: flex;
	}

	&::before {
		display: none;
	}

	& button {
		width: 100%;
		height: 100%;

		padding: 10px;
		font-family: inherit;

		display: flex;

		gap: 15px;
		align-items: center;
		transition: all 0.3s ease;
		cursor: pointer;
		&::after {
			display: block;
			content: '';
			width: 8px;
			height: 8px;
			transform: rotate(45deg) translate(-50%, 25%);
			transition: all 0.3s ease;
		}
	}
}

.--show .extra-solutions__list li.extra-solutions__item--button button {
	&::after {
		transform: rotate(225deg) translate(0, -25%);
	}
}
.client-review {
	padding: 130px 0 200px;
	overflow: hidden;
	h2 {
		margin-top: 0;
		margin-bottom: 40px;
		text-align: center;
	}
	.tiles {
		display: grid;
		grid-template-columns: repeat(4, 50px);
		grid-template-rows: repeat(4, 50px);
		gap: 10px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		transform: translate(calc(50% + 5px), calc(50% + 5px));
		@media screen and ($mobile-responsive) {
			display: none;
		}
		.tile {
			background-color: $color-white;
			animation: 10s pulse ease-in infinite;
			&:nth-of-type(1),
			&:nth-of-type(2),
			&:nth-of-type(5),
			&:nth-of-type(6),
			&:nth-of-type(4),
			&:nth-of-type(13),
			&:nth-of-type(16) {
				visibility: hidden;
			}
			&:nth-of-type(3) {
				opacity: 1;
				animation-delay: 0;
			}
			&:nth-of-type(7) {
				opacity: 1;
				animation-delay: 200ms;
			}
			&:nth-of-type(8) {
				opacity: 1;
				animation-delay: 1.3s;
			}
			&:nth-of-type(9) {
				opacity: 1;
				animation-delay: 2.4s;
			}
			&:nth-of-type(10) {
				opacity: 1;
				animation-delay: 1s;
			}
			&:nth-of-type(11) {
				opacity: 1;
				animation-delay: 3.5s;
			}
			&:nth-of-type(12) {
				opacity: 1;
				animation-delay: 500ms;
			}
			&:nth-of-type(14) {
				opacity: 1;
				animation-delay: 2.8s;
			}
			&:nth-of-type(15) {
				opacity: 1;
				animation-delay: 1.8s;
			}
		}
	}
	@media screen and ($mobile-responsive) {
		padding-block: 30px;
	}
}
.client-review__content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 105px;
	@media screen and ($mobile-responsive) {
		gap: 20px;
	}
}
.client-review__image {
	flex: 1 1 340px;
	position: relative;
	@media screen and ($mobile-responsive) {
		max-width: 450px;
		margin-inline: auto;
	}
}
.client-review__banner-wrap {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}
.client-review__text {
	position: relative;
	z-index: 10;
	flex: 1 1 380px;
	color: $color-white;
	.section__text:first-of-type {
		margin: 0;
	}
	svg {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@media screen and ($mobile-responsive) {
			max-width: 200px;
			margin-inline: auto;
		}
	}
	&.--show {
		.client-review__banner-wrap {
			max-height: 5000px !important;
		}
	}
}
.client-review__banner-wrap .client-review__client {
	text-align: right;
}
.client-review__name {
	margin: em(45) 0 0;
	font-size: rem(32);
	line-height: em(42, 24);
	font-weight: 700;
	@media screen and ($mobile-responsive) {
		margin-top: em(20);
	}
}
.client-review__position {
	margin: 0;
}
