$color-font: #222e27;
$color-white: #fff;
$color-accent: #59dc8e;
$color-black: #000;
$color-border: #b7b7b7;

$color-green: #59dc8e;
$color-green-secondary: #3dc875;
$color-red: #fb5118;
$color-grey: #f4f4f4;
$color-grey-secondary: #d3d5d4;


$mobile-responsive: '(max-width: 767px)';
$width-mobile: 767px;